# use a whitelist because its easier

*
# !node_modules
# !package-lock.json
# !frontend/node_modules
# !frontend/package-lock.json
# !backend/node_modules
# !backend/package-lock.json

!package.json
!tsconfig.json
!.npmrc
!certificate.crt
!*.key
!*.pub
!.env

!backend/package.json
!backend/tsconfig.json
!backend/privatekey.key
!backend/certificate.crt

!backend/mongo-entrypoint/create_user.js
!backend/mongo-entrypoint/test.sh

!frontend/package.json
!frontend/index.html
!frontend/env.d.ts
!frontend/eslint.config.ts
!frontend/tsconfig.app.json
!frontend/tsconfig.json
!frontend/tsconfig.node.json
!frontend/vite.config.ts
!frontend/nodemon.json
