
services:

  db:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_ADMIN_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_ADMIN_PASSWORD}
    volumes:
      - db-data1:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:${DB_PORT}/${DB_PATH} --quiet
      interval: 1s
      timeout: 10s
      start_period: 10s
      start_interval: 1s
      retries: 10

  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
      target: base
    volumes:
      #- ./backend/node_modules:/app/backend/node_modules
      - ./backend/:/app/backend/
      - ./frontend/:/app/frontend/
    environment:
      TSC_NONPOLLING_WATCHER: "0"
      DB_URI: mongodb://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_PATH}
    depends_on:
      db:
        condition: service_healthy
    links:
      - db:database
    ports:
      - 443:443
      - 80:80
    command: sh -c "npm run ${ENV}"

volumes:
  db-data1:
