
:root {
  --background: #f9fafb;
  --foreground: #ffffff;
  --border-color: #e5e7eb;
  --title-primary: ;
  --title-secondary: #6b7280;
  --foreground-hover: #e3f2fd;

  --text-dark: #111827;
  --text: #333;
  --text-lighter: #4b5563;
  --text-light: #6b7280;
  --text-error: #ff0000;

  --error-color: #910c0c;
  
  --primary-color: #2398f5;
  --secondary-color: #1976d2;
  --primary-muted: #90caf9;

  --accent-shadow-color: #45d4ff60;

  --border-radius: 1.3vmin;
  --border-radius-smaller: 0.8vmin;
  --border-radius-small: 0.6vmin;
  --border-width: 0.2vmin;

  --input-border-color: #ccc;
}

@media (prefers-color-scheme: dark) {

}
@media (max-width: 5000px) {
  :root {
    --background: #1b1d1e;
    --foreground: #181a1b;
    --border-color: #363b3d;
    --title-primary: ;
    --title-secondary: #6b7280;
    --foreground-hover: #303335;

    --text-dark: #d6d3cd;
    --text: #c8c4c0;
    --text-lighter: #b1aaa0;
    --text-light: #91897e;

    --primary-color: #34a3f6;
    --secondary-color: #0868b5;
    --primary-muted: #90caf9;

    --accent-shadow-color: #00c3ff50;

    --input-border-color: #34383b;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
