
:root {
  --background: #f9fafb;
  --foreground: #ffffff;
  --border-color: #e5e7eb;
  --title-primary: ;
  --title-secondary: #6b7280;
  --text: #1a1a1a;
  --foreground-hover: #e3f2fd;
  
  --primary-color: #2398f5;
  --secondary-color: #1976d2;

  --border-radius: 1.3vmin;
  --border-radius-smaller: 0.8vmin;
  --border-radius-small: 0.6vmin;
  --border-width: 0.2vmin;

  --input-border-color: #ccc;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
