@import './base.css';

#app, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: sans-serif;
    background: var(--background);
    color: #1a1a1a;
    line-height: 1.6;
}

.content-container {
    background: var(--foreground);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 2vh 1vw;
    display: block;
    gap: 2vh 1vw;
    box-shadow: 0 0.1vmin 0.3vmin rgba(0,0,0,0.05);
    transition: box-shadow 0.2s;

    color: var(--text-dark);
    margin-bottom: 1.5vh;
}

.button {
    background: transparent;
    color: var(--primary-color);
    border: var(--border-width) solid var(--primary-color);
    padding: 1vh 1vw;
    border-radius: var(--border-radius-smaller);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: var(--foreground-hover);
}

.primary-button {
    background: var(--primary-color);
    color: var(--foreground);
    border: none;
    padding: 1vh 1.2vw;
    border-radius: var(--border-radius-smaller);
    cursor: pointer;
    transition: background 0.2s;
}

.primary-button:hover {
    background: var(--secondary-color);
}


