@import './base.css';

#app, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: sans-serif;
    background: #f9fafb;
    color: #1a1a1a;
    line-height: 1.6;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

}
