@import './base.css';

#app, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: sans-serif;
    background: var(--background);
    color: #1a1a1a;
    line-height: 1.6;
}

