@import './base.css';

#app, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: sans-serif;
    background: var(--background);
    color: #1a1a1a;
    line-height: 1.6;
}

.content-container {
    background: #ffffff;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 2vh 1vw;
    display: flex;
    gap: 2vh 1vw;
    box-shadow: 0 0.1vmin 0.3vmin rgba(0,0,0,0.05);
    transition: box-shadow 0.2s;

    color: var(--text-dark);
}

